{% extends 'panel/base.html' %}
{% block content %}
<div class="bg-gray-900 m-4 md:m-32 md:mt-8 p-4 rounded-md">

    <div class="flex flex-col md:flex-row w-full justify-center flex-wrap">
        {% for template_name, template in templates.items %}
        <a href="{% url 'template_add' template_name %}"
           class="bg-gray-800 rounded-md p-8 text-center transition duaration-150 hover:transform hover:scale-105 m-2">
            <button>
                <p>{{template.name}}</p>
            </button>
        </a>
        {% endfor %}
    </div>

</div>
{% endblock %}

